body {
	margin: 0;
} 

#jError {
	pointer-events: none; 
	position: absolute;
}

#jLoading {
	pointer-events: none; 
	position: absolute; 
	visibility: hidden;
}

#browserError {
	pointer-events: none; 
	position: absolute;
	visibility: hidden;
}